{% extends 'base.html' %}
{% load static %}

{% block title %}
Reset Your Password
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'styles/forms.css' %}">
{% endblock %}

{% block content %}

<div class="form-container">
	<form method="POST">
		<div class="form-info">
			<h3>Enter new password</h3>
			<p>Please enter your new password twice so we can verify you typed it in correctly.</p>
		</div>
		
		{% csrf_token %}
		{{form}}
		<input class="form-btn" type="submit" name="Send email" value="Reset Password">
	</form>
</div>

{% endblock %}