.form-input{
    color: black;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 8px;
    margin-left: 8px;
    width: 70%;
    outline: none;
}

.btn-light, .form-btn, .cancel-btn, .form-info a{
    padding: 8px;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
}

.btn-light{
    background-color: white;
    color: black;
    margin-left: 15px;
}

.btn-light:hover, .cancel-btn:hover{
    background-color: black;
    color: white;
}

input[type="text"]:focus, input[type="file"]:focus{
    color: black;
    border: 1px solid black;
}

.form-container{
    position: relative;
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.form-container form, .register-container form{
    width: 70%;
}

.register-container{
    position: absolute;
    top: 13%;
    display: flex;
    justify-content: center;
    width: 100%;
}

.errorlist, .message-success{
    display: block;
    color: white;
    padding: 20px;
    width: 100%;
    margin: 10px 0px;
}

.errorlist{
    background-color: darkred;
}

.messages{
    display: flex;
    list-style: none;
    width: 100%;
}

.message-success{
    background-color: darkgreen;
}

.form-btn{
    background-color: black;
    color: white;
    width: 100%;
    margin: 20px 0;
}

.form-btn:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

.form-input {
    display: inline-block;
    width: 100%;
    margin: 20px 0;
}

.settings-container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    position: absolute;
    padding: 2vh 4vw;
    top: 9vh;
    width: 100%;
}

.settings-content{
    height: max-content;
}

.settings-form {
    position: relative;
    border: 1px solid lightgray;
    padding: 60px 30px;
}

.settings-side-bar{
    display: flex;
    flex-direction: column;
}

.settings-side-bar li{
    padding: 10px;
}

.nav-desabled{
    border-left: 5px solid white;
}

.nav-active{
    border-left: 5px solid black;
}

.helptext ul{
    display: flex;
    flex-direction: column;
}

.helptext ul{
    padding: 0;
    margin: 30px 0px;
}

.form-info {
    margin-bottom: 5vh;
}

.form-info p{
    text-align: justify;
}

.form-info a{
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 14px;
}

.form-content{
    width: 70%;
}

.select-field{
    display: none;
    height: 40px;
    border: 1px solid lightgray;
    width: 100%;
    margin-bottom: 2vh;
    outline: none;
}

.delete-buttons{
    display: block;
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
}

.post-delete-buttons{
    margin-top: 5%;
}

.delete-button{
    background-color: white;
    color: darkred;
    border-radius: 5px;
    padding: 8px 10px;
    margin-bottom: 5px;
    font-size: 14px;
    border: 1px solid darkred;
}

.delete-button:hover{
    background-color: darkred;
    color: white;
    cursor: pointer;
}

.cancel-btn{
    background-color: white;
    font-size: 14px;
    color: black;
}


@media screen and (max-width: 768px){
    .settings-container{
        display: block;
    }

    .settings-side-bar {
        display: none;
    }

    .select-field{
        display: block;
    }
}